body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    background-color: rgb(46, 45, 43);
}

.content-container {
    max-width: 900px;
    width: 100%;
    padding: 10px 20px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.temp-container {
    max-width: 250px;
    padding: 10px 10px;
    margin: auto;
}

.temp-container label {
    font-weight: bold;
}

.content-container input[type=text] {
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px;
    border: 0;
    color: #67656C;
    border-radius: 5px;
}

.content-container input[type=text]::placeholder {
    color: #AEB4BA;
}

.input-error {
    background-color: rgb(250, 23, 23);
}

.content-container input[type=submit] {
    font-size: 14px;
    font-weight: bold;
    background-color: #378DB2;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
}

.content-container input[type=submit]:hover {
    cursor: pointer;
    background-color: rgb(137, 214, 247);
}
