body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    background-color: #FEEED6;
}

.content-container {
    max-width: 760px;
    width: 100%;
    padding: 5px 10px;
    margin: 0 auto;
    box-sizing: border-box;
}