body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    background-color: #FEEED6;
}

.content-container {
    max-width: 760px;
    width: 100%;
    padding: 5px 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

.course-header h2 {
    font-weight: 300;
    color: #676565;
    text-transform: uppercase;
    margin: 0 0;
}

.content-container .course-header {
    width: 80%;
}

.course-info-bar div {
    margin: 10px 0;
    color: #917F7C;
}

.course-info-bar .label  {
    color: #408EB2;
    font-weight: bold;
}

.course-info-bar .old-price {
    text-decoration: line-through;
}

.course-info-bar .course-description-label {
    margin: 15px 0;
}

.course-description {
    font-size: 14px;
    color: #917F7C;
    text-align: justify;
}

.course-description p {
    text-indent: 10px;
    line-height: 20px;
}