* {
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    background-color: rgb(46, 45, 43);
    color: white;
}

.content-container {
    max-width: 500px;
    width: 100%;
    padding: 10px 20px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}

.content-container .todo-list {
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
}

.item-container, .list-footer {
    padding: 5px 5px;
    display: flex;
    align-items: center;
}

.todo-list .item-container .item-button-container {
    margin-left: auto;
    flex: none;
}

.content-container a {
    text-decoration: none;
    color: white;
    padding: 0 2px;
}

.content-container a:hover {
    color: darkgrey;    
}

.input-common {
    border: none;
    border-radius: 5px;
}

.list-footer .footer-button-container {
    /* flex: none; */
    margin-left: auto;
}

.list-footer input[type=text] {
    margin: 10px 0 10px 0;
    width: 100%;
    padding: 10px 10px;
    color: #67656C;
}

.list-footer input[type=text]::placeholder {
    color: #AEB4BA;
}