* {
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    background-color: rgb(46, 45, 43);
    color: white;
}

.content-container {
    max-width: 500px;
    width: 100%;
    padding: 10px 20px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}

.content-container .todo-list {
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
}

.content-container .todo-list .item-container {
    padding: 5px 5px;
    display: flex;
}

.todo-list .item-container .item-button-container {
    margin-left: auto;
    flex: none;
}

.todo-list .item-button-container > a {
    text-decoration: none;
    color: white;
}

/* .input-common {
    border: none;
    border-radius: 5px;
} 

.list-footer input[type=text] {
    margin: 10px 0 10px 0;
    width: 100%;
    padding: 10px 10px;
    color: #67656C;
}

.list-footer input[type=text]::placeholder {
    color: #AEB4BA;
}

.button-container {
    text-align: right;
}

.list-footer input[type=submit] {
    margin: 10px 0;
    font-size: 14px;
    font-weight: bold;
    background-color: #378DB2;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}

.list-footer input[type=submit]:hover {
    cursor: pointer;
    background-color: rgba(137, 214, 247, 0.637);
} */