body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

.client-table {
    border-collapse: collapse;
    margin: 0 auto;
    color: #6D6D60;
    box-sizing: border-box;
    max-width: 750px;
    width: 100%;
}

.client-table, .client-table th, .client-table td {
    border: 1px solid #CCCCCC;
}

.client-table th {
    text-align: left;
    color: #FCFDFE;
    background-color: #3498DB;
}

.client-table th, .client-table td {
    padding: 12px 7px;
}

.client-table tr:nth-child(odd) {
    background-color: #EEEEEE;
}

.client-table td a {
    text-decoration: none;
    color: #6D6D60;
}