body {
    font-family: Arial, Helvetica, sans-serif;
}

.header-line {
    background-color: white;
}

.content-line {
     background-color: #FEEED6;
}

.content-container {
    margin: 0 auto;
    width: 100%;
    max-width: 735px;
    box-sizing: border-box;
}

.content-container h2 {
    color: #6F6765;
    font-weight: normal;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.content-container .form-container {
    padding: 10px 20px;
}

.form-container label, .form-container .form-label {
    font-size: 14px;
}

.form-container label {
    font-weight: bold;
    color: #676565;
}

.form-container .form-label {
    color: #8B9497;
}

.form-container input[type=text], .form-container textarea {
    margin: 5px 0 10px 0;
    box-sizing: border-box;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    color: #67656C;
}

.form-container textarea {
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 7px;
    resize: vertical;
}

.form-container input[type=text] {
    height: 30px;
}

.form-container input[type=text]::placeholder, .form-container textarea::placeholder {
    color: #AEB4BA;
}

.form-container input[type=text]:focus, .form-container textarea:focus {
    outline: none;
}

.form-container .form-container-footer {
    text-align: right;
}

.form-container .form-container-footer input[type=submit] {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: #378DB2;
    color: white;
    border: none;
    padding: 9px 11px;
}

.form-container .form-container-footer input[type=submit]:hover {
    cursor: pointer;
    background-color: rgb(137, 214, 247);
}